<IfModule mod_rewrite.c>

RewriteEngine on

# Rewrite base
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.php
RewriteRule ^(.*) index.php [L]

</IfModule>