<IfModule mod_rewrite.c>

RewriteEngine on

# Rewrite base
RewriteBase /milkcmsdev/admin/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.php
RewriteRule ^(.*) index.php [L]

# Block admin panel from being accessed directly
RewriteRule ^site/(.*) error [R=301,L]
RewriteRule ^system/(.*) error [R=301,L]

</IfModule>